.address-item{
    margin: 20px 20px 0 0;
    width:200px;
    padding: 5px 8px;
    float: left;
    border: 3px dashed #ccc;
    cursor: pointer;
}
.address-item.active{
    border: 3px dashed #c60023;
}
.address-item:hover{
    background: #fafafa;
}
.address-item .address-title{
    color: #666;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.address-item .address-detail {
    margin-top: 5px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #666666;
}
.address-item .address-opera {
    text-align: right;
    visibility: hidden;
}
.address-item:hover .address-opera{
    visibility: visible;
}
.address-item .address-opera .link{
    margin-right: 5px;
}
.address-item .address-new{
    padding: 8px 0;
    text-align: center;
    color: #cccccc;
}
.address-item .address-new .fa{
    font-size: 50px;
    line-height: 50px;
}
.address-item .address-new .text{
    font-size: 12px;
}