<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title>mmall电商网站</title>
</head>
<body>
<!--     <div>
        <a href="" class="link">text</a>
        <a href="" class="link-text">text</a>
    </div>
    <div>
        <a href="" class="btn">text</a>
        <a href="" class="btn btn-mini">text</a>
    </div>
    <div>
        <div class="loading"></div>
    </div> -->
    <div>
        <i class="fa fa-user"></i>
    </div>

    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>
